.footer {
    background: rgba(255, 173, 200, 1);
    background: -moz-linear-gradient(left, rgba(255, 173, 200, 1) 0%, rgba(255, 173, 200, 1) 51%, rgba(43, 0, 23, 1) 77%, rgba(43, 0, 23, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 173, 200, 1)), color-stop(51%, rgba(255, 173, 200, 1)), color-stop(77%, rgba(43, 0, 23, 1)), color-stop(100%, rgba(43, 0, 23, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 173, 200, 1) 0%, rgba(255, 173, 200, 1) 51%, rgba(43, 0, 23, 1) 77%, rgba(43, 0, 23, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 173, 200, 1) 0%, rgba(255, 173, 200, 1) 51%, rgba(43, 0, 23, 1) 77%, rgba(43, 0, 23, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 173, 200, 1) 0%, rgba(255, 173, 200, 1) 51%, rgba(43, 0, 23, 1) 77%, rgba(43, 0, 23, 1) 100%);
    background: linear-gradient(to right, rgba(255, 173, 200, 1) 0%, rgba(255, 173, 200, 1) 51%, rgba(43, 0, 23, 1) 77%, rgba(43, 0, 23, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffadc8', endColorstr='#2b0017', GradientType=1);
    color: #ffffff;
    border-top: 1px solid rgba(255, 173, 200, 1);
}

.botones {
    padding: 0 6px 0 6px;
    background-color: #9d1100;
    color: white;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -o-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.botones:hover {
    background-color: #00729d;
}

label {
    margin: 0;
}

.textoInfo {
    text-align: justify;
}