<div class="list-group mt-5 pt-5">
    <a routerLink="/panelPrincipal/administracion" class="list-group-item list-group-item-action" [class.active]="routes.isActive('/panelPrincipal/administracion')">
    Administración
  </a>
    <a routerLink="/panelPrincipal/notiBlogApp" class="list-group-item list-group-item-action" [class.active]="routes.isActive('/panelPrincipal/notiBlogApp')">Gestor de NotiBlog</a>
    <a routerLink="/panelPrincipal/perfilApp" class="list-group-item list-group-item-action" [class.active]="routes.isActive('/panelPrincipal/perfilApp')">Perfil</a>
</div>
