.menu {
    background: rgba(51, 0, 0, 1);
    background: -moz-linear-gradient(left, rgba(51, 0, 0, 1) 0%, rgba(77, 0, 0, 1) 17%, rgba(71, 0, 0, 1) 34%, rgba(89, 1, 1, 1) 50%, rgba(189, 189, 189, 1) 67%, rgba(189, 189, 189, 1) 93%, rgba(189, 189, 189, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51, 0, 0, 1)), color-stop(17%, rgba(77, 0, 0, 1)), color-stop(34%, rgba(71, 0, 0, 1)), color-stop(50%, rgba(89, 1, 1, 1)), color-stop(67%, rgba(189, 189, 189, 1)), color-stop(93%, rgba(189, 189, 189, 1)), color-stop(100%, rgba(189, 189, 189, 1)));
    background: -webkit-linear-gradient(left, rgba(51, 0, 0, 1) 0%, rgba(77, 0, 0, 1) 17%, rgba(71, 0, 0, 1) 34%, rgba(89, 1, 1, 1) 50%, rgba(189, 189, 189, 1) 67%, rgba(189, 189, 189, 1) 93%, rgba(189, 189, 189, 1) 100%);
    background: -o-linear-gradient(left, rgba(51, 0, 0, 1) 0%, rgba(77, 0, 0, 1) 17%, rgba(71, 0, 0, 1) 34%, rgba(89, 1, 1, 1) 50%, rgba(189, 189, 189, 1) 67%, rgba(189, 189, 189, 1) 93%, rgba(189, 189, 189, 1) 100%);
    background: -ms-linear-gradient(left, rgba(51, 0, 0, 1) 0%, rgba(77, 0, 0, 1) 17%, rgba(71, 0, 0, 1) 34%, rgba(89, 1, 1, 1) 50%, rgba(189, 189, 189, 1) 67%, rgba(189, 189, 189, 1) 93%, rgba(189, 189, 189, 1) 100%);
    background: linear-gradient(to right, rgba(51, 0, 0, 1) 0%, rgba(77, 0, 0, 1) 17%, rgba(71, 0, 0, 1) 34%, rgba(89, 1, 1, 1) 50%, rgba(189, 189, 189, 1) 67%, rgba(189, 189, 189, 1) 93%, rgba(189, 189, 189, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#330000', endColorstr='#bdbdbd', GradientType=1);
    border-bottom: 1px solid rgba(189, 189, 189, 1);
}

.logo {
    background-image: url("../../assets/Images/logoBlanco.png");
    background-size: 100% 100%;
    height: 38px;
    width: 38px;
    margin-left: 10px;
    animation-name: animacionLogoBlanco;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: initial;
    -webkit-animation-name: animacionLogoBlanco;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: initial;
    -moz-animation-name: animacionLogoBlanco;
    -moz-animation-duration: 20s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: initial;
    -o-animation-name: animacionLogoBlanco;
    -o-animation-duration: 20s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: initial;
}

.navbar-dark .navbar-nav .link {
    color: yellow;
}

.btn-outline-success,
.navbar-dark .navbar-toggler {
    color: black;
    border-color: black;
}

.navbar-dark .navbar-toggler {
    background-color: black;
}

.btn-outline-success:hover,
.navbar-dark .navbar-toggler:hover {
    color: white;
    background-color: red;
    border-color: black;
}

@keyframes animacionLogoBlanco {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(320deg);
    }
    20% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(320deg);
    }
    40% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(320deg);
    }
    60% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(320deg);
    }
    80% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(320deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 577px) {
    .navbar-dark .navbar-nav .link {
        margin-left: 5px;
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .navbar-dark .navbar-nav .barra {
        display: none;
    }
    .loginGrande {
        display: none;
    }
    .loginPequeño {
        margin-right: 1em;
    }
    .menu {
        padding: 0;
        margin: 0;
    }
}

@media screen and (min-width: 577px) and (max-width: 991px) {
    .navbar-dark .navbar-nav .link {
        margin-left: 5px;
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .navbar-dark .navbar-nav .barra {
        display: none;
    }
    .loginGrande {
        display: none;
    }
    .loginPequeño {
        margin-right: 1em;
    }
    .menu {
        padding: 0;
        margin: 0;
    }
}

@media screen and (min-width: 991px) {
    .navbar {
        height: 40px;
    }
    .navbar-dark .navbar-nav .link {
        margin-left: 5px;
        margin-top: 5px;
    }
    .navbar-dark .navbar-nav .link:hover {
        color: yellowgreen;
    }
    .nav-item {
        color: white;
    }
    .loginPequeño {
        display: none;
    }
}
