<app-menu class="navBar"></app-menu>
<div [class]="fondo">
  <div class="row-fluid h-100">
    <div class="col col-lg-12 h-100">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-footer></app-footer>

<cookie-law name="ShinyCookieDragons" expiration="7" class="text-justify">Atención Dragones del Acecho, estoy obligado a informaros que utilizamos Cookies propias para mejorar la página. No piensen
  que estamos recolectando información para venderla a grandes corporaciones de "publicidad ", y mucho menos recibir una
  gran tajada de dinero por parte de departamentos gubernamentales por su información privada, para poder ser espiados por
  algún tipo de satélite.
  <a href="http://politicadecookies.com/" target="_blank"> Más información </a>
</cookie-law>
